<div class="container">
    <div class="row my-5">
        <div class="row">
            <div class="col-6">
                <h3>
                    Acerca de mí
                </h3>
            </div>
            <div class="col-6 ">
                <h4 class="text-end ">
                    <!-- Button trigger modal -->
                    <i class="bi bi-file-earmark-plus" data-bs-toggle="modal" data-bs-target="#crearAcercaDeMi"></i>
                    
                </h4>
            </div>
        </div>
        
        <div>
            <div class="row">
                <div class="col-10">
                    <h4>{{miPortfolio.acercaDeMi.destacable}}</h4>
                </div>
                <div class="col-2 ">
                    <h4 class="text-end ">
                        <i class="bi bi-pencil-square p-1" data-bs-toggle="modal" data-bs-target="#editarAcercaDeMi"></i>
                        <i class="bi bi-trash3-fill"></i>
                    </h4>
                </div>
            </div>
            <div class="col-lg-12">
                <p>{{miPortfolio.acercaDeMi.InformacionAcercaDeMi}}</p>
            </div>
        </div>
    </div>
</div>


<!-- Modal agregar-->
<div class="modal fade" id="crearAcercaDeMi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " >
            <div class="modal-header custom">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Acerca De Mi</h5>
                <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body custom">
                <div class="form-group">
                    <label for="destacable">Destacable</label>
                    <input type="text" class="form-control" id="destacable" name="destacable"
                        requerid>
                </div>
                <div class="form-group ">
                    <label for="informacionAcercaDeMi">Informacion Acerca De Mi</label>
                    <input type="text" class="form-control" id="informacionAcercaDeMi" name="informacionAcercaDeMi"
                        requerid>
                </div>
            </div>
            <div class="modal-footer justify-content-center" id="Custom">
                <button type="submit" class="btn btn-warning " data-bs-dismiss="modal">Actualizar informacion</button>
                
            </div>
        </div>
    </div>
</div>
<!-- Modal editar -->
<div class="modal fade" id="editarAcercaDeMi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content " >
            <div class="modal-header custom">
                <h5 class="modal-title" id="exampleModalLabel">Editar Acerca De Mi</h5>
                <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body custom">
                <div class="form-group">
                    <label for="destacable">Destacable</label>
                    <input type="text" class="form-control" id="destacable" name="destacable"
                        requerid>
                </div>
                <div class="form-group ">
                    <label for="informacionAcercaDeMi">Informacion Acerca De Mi</label>
                    <input type="text" class="form-control" id="informacionAcercaDeMi" name="informacionAcercaDeMi"
                        requerid>
                </div>
            </div>
            <div class="modal-footer justify-content-center" id="Custom">
                <button type="submit" class="btn btn-warning " data-bs-dismiss="modal">Actualizar informacion</button>
                
            </div>
        </div>
    </div>
</div>