/*#banner{
    background-repeat:no-repeat;
    background-position: center center;  
    background-attachment: fixed;
    background-size: cover;
    
    min-height: 400px;

}
*/


#FotoPerfil{

    background-position: center center;    
    background-size: cover;
    text-align: center;
}
